body {
    margin: 0;
    padding: 0;
    background-color: black;
    overscroll-behavior-y: none;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    background: rgb(192, 192, 192);
    height: 18px;
    width: 17px;
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
}

.button:active {
    box-shadow: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, -4px -4px black, -4px 0 black, 0 -4px black, 2px 2px #e0dede, 0 2px #e0dede, 2px 0 #e0dede, 2px -2px #818181, -2px 2px #e0dede, -4px 2px black, -4px 4px white, 4px 4px white, 4px 0 white, 0 4px white, 2px -4px black, 4px -4px white;
}

.button-group {
    padding-right: 6px;
    display: flex;
    gap: 10px;
    z-index: 15px;
}

.close::before,
.close::after {
    position: absolute;
    top: 15px;
    content: "";
    width: 12px;
    height: 2.5px;
    background-color: black;
    transform-origin: center;
}

.close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

@font-face {
    font-family: 'Chicago';
    src: url('fonts/ChicagoFLF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.container {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    width: calc(100vh * (4 / 3));
    max-width: 100vw;
    background-color: rgb(232, 232, 232);
    left: 50%;
    transform: translate(-50%, 0);
}

.p-text {
    font-family: JetBrains Mono, monospace;
    font-size: 16px;
}

.navbar {
    position: sticky;
    height: 30px;
    width: calc(100vh * (4 / 3));
    top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(192, 192, 192);
    border-bottom: 2.5px solid #818181;
    box-shadow: 0 2px 0 black;
    display: flex;
    align-items: center;
    z-index: 3;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 5px 10px;
    font-size: 16px;
    color: black;
    font-family: 'Chicago';
}

.navbar a:visited {
    color: black;
}

.navbar a:hover {
    color: white;
    background-color: #212a8c;
}

.navbar a:active {
    color: white;
}

.no-scroll {
    overflow: hidden;
}

.minimize {
    background-color: black;
    height: 3px;
    width: 10px;
    transform: translateY(12px);
}

.full-screen-1 {
    position: absolute;
    background-color: rgb(192, 192, 192);
    border-top: 3px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    height: 5px;
    width: 6px;
    transform: translate(-2px, 6px);
    z-index: 2;
}

.full-screen-2 {
    background-color: rgb(192, 192, 192);
    border-top: 3px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    height: 5px;
    width: 6px;
    transform: translate(2px, 2px);
    z-index: 1;
}

.sectionheader {
    padding: 20px 20px;
    font-size: 25px;
    color: black;
    font-family: 'Chicago', monospace;
}

.image_panel {
    width: 480px;
    height: 360px;
    box-shadow: -1.5px -1.5px #e0dede, -1.5px 0 #e0dede, 0 -1.5px #e0dede, -3px -3px white, -3px 0 white, 0 -3px white, 1.5px 1.5px #818181, 0 1.5px #818181, 1.5px 0 #818181, 1.5px -1.5px #e0dede, -1.5px 1.5px #818181, -3px 1.5px white, -3px 3px black, 3px 3px black, 3px 0 black, 0 3px black, 1.5px -3px white, 3px -3px black;
}

.audio_panel {
    pointer-events: auto;
    width: 480px;
    height: 360px;
    background-color: white;
    box-shadow: -1.5px -1.5px #e0dede, -1.5px 0 #e0dede, 0 -1.5px #e0dede, -3px -3px white, -3px 0 white, 0 -3px white, 1.5px 1.5px #818181, 0 1.5px #818181, 1.5px 0 #818181, 1.5px -1.5px #e0dede, -1.5px 1.5px #818181, -3px 1.5px white, -3px 3px black, 3px 3px black, 3px 0 black, 0 3px black, 1.5px -3px white, 3px -3px black;
}

.audioContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 318px;
    width: 100%;
}

.audioControls {
    position: absolute;
    width: 305px;
    height: 45px;
    background-color: #909090;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: -1.5px -1.5px #e0dede, -1.5px 0 #e0dede, 0 -1.5px #e0dede, -3px -3px white, -3px 0 white, 0 -3px white, 1.5px 1.5px #818181, 0 1.5px #818181, 1.5px 0 #818181, 1.5px -1.5px #e0dede, -1.5px 1.5px #818181, -3px 1.5px white, -3px 3px black, 3px 3px black, 3px 0 black, 0 3px black, 1.5px -3px white, 3px -3px black;
}

.reverse-button,
.forward-button,
.play-pause-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border: none;
    background: #e0dede;
    height: 12px;
    width: 12px;
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
}

.reverse-button:active,
.forward-button:active,
.play-pause-button:active {
    box-shadow: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, -4px -4px black, -4px 0 black, 0 -4px black, 2px 2px #e0dede, 0 2px #e0dede, 2px 0 #e0dede, 2px -2px #818181, -2px 2px #e0dede, -4px 2px black, -4px 4px white, 4px 4px white, 4px 0 white, 0 4px white, 2px -4px black, 4px -4px white;
}

.audioScreen {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    width: 200px;
    height: 30px;
    border-top: 2px solid #818181;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid #818181;
    background-color: #1f0ec3;
    color: white;
    font-size: 15px;
    font-family: 'Chicago';
}

.visualizer {
    position: absolute;
    transform: translate(7px, -6px);
}

.play {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 6px solid #000;
    border-bottom: 4px solid transparent;
    margin-bottom: 1px;
}

.pause {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    align-items: center;
    width: 8px;
    height: 8px;
    transform: translate(-0.5px, -0.5px);
}

.pause div {
    width: 2px;
    height: 8px;
    background-color: #000;
}

.video_panel {
    pointer-events: auto;
    width: 480px;
    height: 360px;
    background-color: white;
    box-shadow: -1.5px -1.5px #e0dede, -1.5px 0 #e0dede, 0 -1.5px #e0dede, -3px -3px white, -3px 0 white, 0 -3px white, 1.5px 1.5px #818181, 0 1.5px #818181, 1.5px 0 #818181, 1.5px -1.5px #e0dede, -1.5px 1.5px #818181, -3px 1.5px white, -3px 3px black, 3px 3px black, 3px 0 black, 0 3px black, 1.5px -3px white, 3px -3px black;
}

.videoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 318px;
    width: 100%;
    pointer-events: none;
}

video {
    max-width: 100%;
    max-height: 100%;
    width: auto; 
    height: auto; 
    display: block;
    margin: auto; 
    object-fit: contain;
  }

.image_panel img {
    width: 100%;
    height: calc(100% - 41px);
}

.panelHeader {
    height: 20px;
    width: calc(100% - 5px);
    background: linear-gradient(90deg, #000b7c, #377cc6);
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: white;
    font-family: 'Chicago';
    padding-left: 5px;
}

.fileHeader {
    display: flex;
    height: 20px;
    width: calc(100% - 10px);
    background: rgb(192, 192, 192);
    border-bottom: 1px solid #818181;
    align-items: center;
    padding-left: 10px;
}

.fileInfo,
.fileComments {
    font-family: JetBrains Mono, monospace;
    font-size: 10px;
    color: #818181;
    padding-right: 2.5px;
    padding-left: 2.5px;
    height: 20px;
    display: flex;
    align-items: center;
}

.fileInfo:hover,
.fileComments:hover {
    background-color: #818181;
    color: white;
}

.WhiteBar {
    position: absolute;
    height: 12px;
    width: 1.5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 0 #818181;
    transform: translateX(-4px);
}